html, body {
    height: 100%;
    margin: 0;  /* Remove default margin */
}


/* Light Mode Styles (default) */
body {
    background-color: #f8f9fa;
    color: #000;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #fff;
    color: #000;
    flex: 1; 
}

.small-container {
    max-width: 700px;
}

.card {
    background-color: #fff;
    color: #000;
}

.form-select {
    background-color: #fff;
    color: #000;
}

.form-label {
    color: #000;
}

#dark-mode-toggle.btn {
    color: #fff;
}



/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

.container.dark-mode {
    background-color: #121212;;
    color: #fff;
}

.card.dark-mode {
    background-color: #27272A;
    color: #fff;
}

.form-select.dark-mode {
    background-color: #27272A;
    color: #fff;
}

.form-label.dark-mode {
    color: #fff;
}

.btn.dark-mode {
    color: #fff;
}


/* Font sizes */

.smaller-text {
    font-size: 14px;
}

.small-text {
    font-size: 18px;
}



.margin-top-large {
    margin-top: 120px; 
}

.navbar {
    z-index: 1050; 
}


.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}


#reset-meal {
    width: 150px;
    white-space: nowrap; 
}



/* Footer */
footer {
    background-color: #21252941;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

footer.bg-dark p {
    background-color: #212529;
    color: #fff !important;  /* Light text color */
}
